:local .wrapper {
    border: 1px solid black;
    flex: 10%;
}

:local .noShip,
:local .ship { position: relative; }

:local .noShip.bombed::before,
:local .ship.bombed::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
}

:local .noShip.bombed::before {
    content: '💦';
}

:local .ship.bombed::before {
    content: '💥';
}

:local .ship.bombed.sink {
    background-color: red;
}

:local .ship {
    background: #888888;
}
:local .noShip {
    background-color: rgb(11, 104, 161);
}

:local .s2_1,
:local .s2_2,
:local .s2_3,
:local .s2_4 {
    background: rgb(62, 38, 170);
}

:local .s3_1,
:local .s3_2,
:local .s3_3 {
    background: #718d29;
}

:local .s4_1,
:local .s4_2 {
    background: rgb(143, 87, 62);
}

:local .s6_1 {
    background: rgb(221, 209, 155);
}