:local .wrapper {
    border: 1px solid black;
    flex: 10%;
}

:local .noShip.bombed {
    background: rgb(76, 76, 255);
}

:local .ship.bombed {
    background: rgb(233, 126, 25);
}
:local .ship.bombed.sink {
    background-color: red;
}

:local .ship {
    background: #888888;
}
:local .noShip {
    background-color: blue;
}

:local .s2_1 { background: salmon !important; }
:local .s2_2 { background: rgb(255, 98, 84) !important; }
:local .s2_3 { background: rgb(228, 64, 45) !important; }
:local .s2_4 { background: rgb(170, 33, 21) !important; }

:local .s3_1 { background: #b4da55 !important; }
:local .s3_2 { background: #91b82f !important; }
:local .s3_3 { background: #718d29 !important; }

:local .s4_1 { background: rgb(103, 117, 238) !important; }
:local .s4_2 { background: rgb(65, 80, 194) !important; }

:local .s6_1 { background: rgb(221, 209, 155) !important; }