:local .wrapper {
    margin: 5px;
}

:local .wrapper span {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: rgba(0, 0, 0, .1);
    border: 1px solid black;
    border-left: 0;
}
:local .wrapper span:first-child {
    border-left: 1px solid black;
}