:local .wrapper {
    border: 5px solid black;
    width: 40vw;
    height: 40vw;
    max-height: 500px;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
    :local .wrapper {
        height: 35vw;
        width: 35vw;
    }
}